@import "tailwindcss";

:root {
  --background: #dff1f1;
  --foreground: #0b2f2b;
  --color-1: #009485;
  --color-2: #4eb7ac;
  --color-3: #80cbc4;
  --color-4: #b3dfdc;
  --color-5: #dff1f1;
}

.color-1 { color: var(--color-1); }
.color-2 { color: var(--color-2); }
.color-3 { color: var(--color-3); }
.color-4 { color: var(--color-4); }
.color-5 { color: var(--color-5); }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-serif);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-serif), serif;
}